body {
  margin: 0;
  padding: 0;
  background-color: rgb(35, 35, 35);
  font-family: "iceberg", sans-serif;
}

.index-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 1fr 1fr;
}

.weapon-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}


h1 {
  color: white;
  margin: 10px;
}

h2 {
  margin: 10px;
  color: white;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul.menu li {
  float: left;
  border-right:1px solid #bbbbbb;
}

ul.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.menu li a:hover:not(.active) {
  background-color: #111111;
}

ul.menu li a.active {
  background-color: #ff0000;
}

.iceberg-regular {
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul li {
  color: white;
}

#logo {
  margin: auto;
  margin-top: 0;
  padding: 35px;
}

.paragraph {
  background-color: #111111;
  color: white;
  padding: 20px;
  width: 700px;
  height: auto;
  margin: 20px;
  border: 5px solid #bbbbbb;
}

.link {
   color: aqua;
  text-decoration: none;
}

#homepagegif {
  width: 150px;
  height: 150px;
  margin: 15px;
}

.weaponimg {
  width: 180px;
  height: 100px;
  
}

.brimg {
  width: 180px;
  height: 100px;
}

.bsrimg {
  width: 180px;
  height: 100px;
}

.grimg {
  width: 180px;
  height: 125px;
}

.gsrimg {
  width: 180px;
  height: 125px;
}

.rrimg {
  width: 180px;
  height: 100px;
}

.rsrimg {
  width: 180px;
  height: 100px;
}

.bngimg {
  width: 180px;
  height: 60px;
}

.bsbimg {
  width: 180px;
  height: 100px;
}

.gngimg {
  width: 180px;
  height: 75px;
}

.gsbimg {
  width: 180px;
  height: 100px;
}

.rngimg {
  width: 180px;
  height: 120px;
}

.rsbimg {
  width: 180px;
  height: 120px;
}

.bsgimg {
  width: 180px;
  height: 75px;
}

.bjhimg {
  width: 180px;
  height: 100px;
}

.gsgimg {
  width: 180px;
  height: 75px;
}

.gjhimg {
  width: 180px;
  height: 100px;
}

.rsgimg {
  width: 180px;
  height: 110px;
}

.rjhimg {
  width: 180px;
  height: 100px;
}

.about-p {
  border: #bbbbbb 5px solid;
  background-color: #363636;
  grid-column: 1/3;
  grid-row: 1/2;
}

.wheretoplay-p {
  border: #bbbbbb 5px solid;
  background-color: #363636;
  grid-column: 1/2;
  grid-row: 2/3;
}

.newblood-p {
  border: #bbbbbb 5px solid;
  background-color: #363636;
  grid-column: 2/3;
  grid-row: 2/3;
}

.revolver-p {
  border: #bbbbbb 5px solid;
  background-color: #363636;
  grid-row: 1/2;
  grid-column: 1/2;
}

.shotgun-p {
  border: #bbbbbb 5px solid;
  background-color: #363636;
  grid-column: 2/3;
  grid-row: 1/2;
  
}

.nailgun-p {
  border: #bbbbbb 5px solid;
  background-color: #363636;
  grid-column: 1/2;
  grid-row: 2/3;
}

.railcannon-p {
  border: #bbbbbb 5px solid;
  background-color: #363636;
  grid-column: 2/3;
  grid-row: 2/3;
}

.rocketlauncher-p {
  border: #bbbbbb 5px solid;
  background-color: #363636;
  grid-column: 1/2;
  grid-row: 3/4;
}

.arm-p {
  border: #bbbbbb 5px solid;
  background-color: #363636;
  grid-column: 2/3;
  grid-row: 3/4;
}