body {
  margin: 0;
  padding: 0;
  background-color: rgb(35, 35, 35);
  font-family: "iceberg", sans-serif;
}

#index-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#weapon-section{
  display: flex;
  flex-wrap: wrap;
}

#revolver-p {
  display: flex;
  flex-direction: column;
}

h1 {
  color: white;
  margin: 10px;
}

h2 {
  margin: 10px;
  color: white;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul.menu li {
  float: left;
  border-right:1px solid #bbbbbb;
}

ul.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.menu li a:hover:not(.active) {
  background-color: #111111;
}

ul.menu li a.active {
  background-color: #ff0000;
}

.iceberg-regular {
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul li {
  color: white;
}

#logo {
  margin: auto;
  margin-top: 0;
  padding: 35px;
}

.paragraph {
  background-color: #111111;
  color: white;
  padding: 20px;
  width: 700px;
  height: auto;
  margin: 20px;
  border: 5px solid #bbbbbb;
}

.link {
   color: aqua;
  text-decoration: none;
}

#homepagegif {
  width: 150px;
  height: 150px;
  margin: 15px;
}

.weaponimg {
  width: 180px;
  height: 100px;
  flex-direction: column;
}

.index-paragraph {
  border: #bbbbbb 5px solid;
  background-color: #363636;
}

.weapon-p {
  border: #bbbbbb 5px solid;
  background-color: #363636;
}