body {
  margin: 0;
  padding: 0;
  background-color: rgb(35, 35, 35);
  font-family: "iceberg", sans-serif;
}

h1 {
  color: white;
  margin: 10px;
}

h2 {
  margin: 10px;
  color: white;
}

p {
  color: white;
  margin: 20px;
}

a {
  color: aqua;
  text-decoration: none;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul.menu li {
  float: left;
  border-right:1px solid #bbbbbb;
}

ul.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.menu li a:hover:not(.active) {
  background-color: #111111;
}

ul.menu li a.active {
  background-color: #ff0000;
}

.iceberg-regular {
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  margin: 15px;
}

ul li {
  color: white;
}
